<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="../Styles/Estilos.css" rel="stylesheet" /> <!--Clicar no arquivo "Estilos", segura, e coloca aqui, daí todos os estilos que você modificar lá no aquivo "estilos", vai mudar aqui-->
</head>
<body>
    <header class="cabecalho margin-padding"> <!--O que está no arquivo Estilo-->
        <h1 class="center">Seja bem vindo ao sistema de vendas online</h1>
        <h2 class="center">Neste sistema, será possível:</h2>
        <ul>
            <li>Incluir Clientes</li>
            <li>Incluir Produtos</li>
            <li>Efetuar vendas de produtos</li>
            <li>Realizar consultas</li>
        </ul>
    </header>
    <section class="conteudo center margin-padding"> <!--Aqui tem mais de uma classe, o que é comum-->
        <p>
            Para ter acesso ao sistema efetuar login
            <a href="Login.aspx">aqui</a>

            <!-- <div> &lt;p&gt; é um paragrafo </div> -->  <!--Para usar caracteres especiais, começamos em "&", colocamos o código que ele representa, e terminamos com ";" -->
        </p>
    </section>
    <footer class="rodape center">
        &copy;Copyright 2019 - Todos os direitos reservados <br />
        Avenida Paulista, 1009 - São Paulo - SP<br />
        CEP 01311-130
    </footer>
</body>
</html>